.result {
  padding: 5rem 0;
}

.product {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.name {
   margin: 0;
   padding-bottom: 1rem;;
}
.product img {
   border: 4px solid;
   display: block;
   border-color:  var(--clr-grey-2);
   margin: auto;
   width: 150px;
   height: 600px;
   border-radius: var(--radius);
   object-fit:fill;
}

.house {
   margin: 0;
   padding-top: 1rem;
   color: var(--clr-primary-5);
}
@media screen and (min-width: 776px) {
  .result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .product img {
    height: 200px;
  }
}
@media screen and (min-width: 992px) {
  .result {
    grid-template-columns: repeat(3, 1fr);
  }
}
